.sale-card {
  display: flex !important;
  flex-direction: column;
  text-decoration: none;
  background-color: #fff;
}

.sale-card__img {
  min-height: 200px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.sale-card__date {
  display: flex;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 0 20px;
  svg {
    flex: none;
    fill: #969696;
    width: 16px;
    height: 15px;
    margin-right: 9px;
  }
  span {
    font-family: $opensans;
    font-size: 13px;
    font-weight: 600;
    line-height: 15px;
    color: #969696;
  }
}

.sale-card__title {
  font-family: $opensans;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 25px;
  padding: 0 20px;
  color: #1e1e1e;
}
.sale-card__date--counter{
  svg {
    fill: #bb2e27;
  }
  span {
    color: #bb2e27;
    padding-right: 3px;
  }
}