//begin teacher-card
a(href="#").teacher-card
  .teacher-card__rait
    .teacher-card__rait-stars.rait-stars.rait-stars--yellow.rait-stars--04
      +rait-star
      +rait-star
      +rait-star
      +rait-star
      +rait-star
    .teacher-card__rait-numb
      span 27

  .teacher-card__ava
    img(src="assets/img/teacher-ava-01.jpg" alt="avatar")

  h4.teacher-card__position Преподаватель
  h3.teacher-card__name Ольга Белошицкая-Верпш
  span.teacher-card__about Лектор образовательного центра, преподаватель сомелье.
  span.teacher-card__experience
    |Опыт:
    =' '
    strong 15 лет
//end teacher-card
