.articles__aside {
  flex: none;
  width: 300px;
  padding-left: 30px;

  @include max(1023) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 0;
  }
}

.articles-aside__item {
  @include max(1023) {
    width: calc(50% - 15px);
  }
  @include max(580) {
    width: 100%;
  }
}

.articles-aside__sections {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #e6e6e6;
}

.articles-aside__title {
  font-family: $opensans;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  color: #1e1e1e;
}

.articles-aside__sections-link {
  font-family: $opensans;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  display: block;
  text-decoration: none;
  color: #646464;
  &:hover {
    color: $brand;
  }
}

.article-aside__tags {
  margin-bottom: 30px;
  padding: 20px 20px 30px 20px;
  background-color: #e6e6e6;
}

.article-aside__tag {
  font-family: $opensans;
  font-size: 10px;
  font-style: italic;
  line-height: 10px;
  display: inline-block;
  padding-right: 8px;
  text-decoration: none;
  color: #969696;

  &:hover {
    color: $brand;
  }
}

.articles-aside__banner {
  margin-bottom: 30px;

  @include max(1023) {
    order: 10;
  }
}

.articles-aside__archive {
  margin-bottom: 30px;
  padding: 20px 20px 30px 20px;
  background-color: #e6e6e6;
}

.articles-aside__archive-year {
  font-family: $opensans;
  font-size: 15px;
  font-weight: 700;
  line-height: 30px;
  display: block;
  text-decoration: none;
  color: #1e1e1e;

  &:hover {
    color: $brand;
  }
}

.articles-aside__archive-month {
  font-family: $opensans;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  display: block;
  text-decoration: none;
  color: #646464;
  &:hover {
    color: $brand;
  }
}
