.index-info {
  padding-top: 95px;
  padding-bottom: 82px;
  background-color: #fff;
}

.index-info__list {
  display: flex;
  justify-content: space-between;

  @include max(1023) {
    flex-wrap: wrap;
  }
}

.index-info__news {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  padding-right: 30px;

  @include max(680) {
    padding-right: 0;
  }
  .page-title {
    width: 100%;
    margin-bottom: 0;
    text-align: left;

    @include max(680) {
      margin-bottom: 0;
    }
  }
}

.index-info__item {
  display: flex;
  width: calc(50% - 15px);
  padding-top: 28px;
  padding-bottom: 22px;
  border-bottom: 1px solid #c8c8c8;

  @include max(680) {
    width: 100%;
  }
}

.index-info__item-left {
  flex: none;
  width: 70px;
}

.index-info__item-img {
  display: block;
  overflow: hidden;
  flex: none;
  width: 70px;
  height: 70px;
  margin-bottom: 13px;
  img {
    display: block;
    width: 100%;
  }
}

.index-info__item-date {
  text-align: right;
  span {
    font-family: $font;
    font-size: 13px;
    font-weight: 600;
    line-height: 23px;
    display: inline-block;
    color: #969696;
  }
}

.index-info__item-right {
  padding-left: 30px;
}

.index-info__item-title {
  font-family: $opensans;
  font-size: 16px;
  font-weight: 600;
  display: block;
  margin-top: -2px;
  margin-bottom: 5px;
  text-decoration: none;
  color: #1e1e1e;
}

.index-info__item-text {
  font-family: $opensans;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  display: inline-block;
  margin-bottom: 10px;
  color: #646464;
}

.index-info__item-link {
  display: inline-block;
  a {
    display: flex;
    align-items: center;
    user-select: none;
    text-align: center;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  span {
    font-family: $opensans;
    font-size: 13px;
    font-weight: 400;
    color: $brand;
  }
  svg {
    flex: none;
    fill: $brand;
    width: 5px;
    height: 10px;
    margin-left: 15px;
  }
}

.index-info__banner-wrap {
  flex: none;
  width: 270px;
  padding-top: 15px;
  padding-bottom: 10px;
}
