//begin articles__aside
.articles__aside.articles-aside
  //begin articles-aside__sections
  .articles-aside__sections.articles-aside__item
    h4.articles-aside__title Разделы
    a(href="#").articles-aside__sections-link Рынок виноделия
    a(href="#").articles-aside__sections-link Эногастрономические ужины
    a(href="#").articles-aside__sections-link Аналитика
    a(href="#").articles-aside__sections-link Рынок виноделия
    a(href="#").articles-aside__sections-link Аналитика
    a(href="#").articles-aside__sections-link Персонал
  //end articles-aside__sections

  //begin article-aside__tags
  .article-aside__tags.articles-aside__item
    h4.articles-aside__title Популярные теги
    a(href="#").article-aside__tag #Красное вино
    a(href="#").article-aside__tag #Франция
    a(href="#").article-aside__tag #Божеле
    a(href="#").article-aside__tag #Крепкие напитки
    a(href="#").article-aside__tag #Божеле
    a(href="#").article-aside__tag #Франция вино
    a(href="#").article-aside__tag #Красное вино
    a(href="#").article-aside__tag #Франция
    a(href="#").article-aside__tag #Божеле
    a(href="#").article-aside__tag #Крепкие напитки
    a(href="#").article-aside__tag #Божеле
    a(href="#").article-aside__tag #Франция вино
  //end article-aside__tags

  //begin articles-aside__banner
  .articles-aside__banner
    include ../elements/banner
  //end articles-aside__banner

  //begin articles-aside__archive
  .articles-aside__archive.articles-aside__item
    h4.articles-aside__title Архив
    a(href="#").articles-aside__archive-year 2018
    a(href="#").articles-aside__archive-month Декабрь (105)
    a(href="#").articles-aside__archive-month Ноябрь (50)
    a(href="#").articles-aside__archive-month Октябрь (300)
    a(href="#").articles-aside__archive-month Сентябрь (250)
    a(href="#").articles-aside__archive-month Август (56)
    a(href="#").articles-aside__archive-month Июль (80)
    a(href="#").articles-aside__archive-month Июнь (150)
    a(href="#").articles-aside__archive-month Май (60)
    a(href="#").articles-aside__archive-month Апрель (95)
    a(href="#").articles-aside__archive-month Март (150)
    a(href="#").articles-aside__archive-month Февраль (300)
    a(href="#").articles-aside__archive-month Январь (180)
    a(href="#").articles-aside__archive-year 2017
    a(href="#").articles-aside__archive-year 2016
    a(href="#").articles-aside__archive-year 2015
  //end articles-aside__archive
//end articles__aside