//begin articles__aside
.articles__aside.articles-aside
  //begin articles-aside__banner
  .articles-aside__banner
    include ../elements/banner
  //end articles-aside__banner
  //begin articles-aside__banner
  .articles-aside__banner
    include ../elements/banner
  //end articles-aside__banner
//end articles__aside