//begin catalog-top
.catalog-top
  .container
    h2.catalog-top__title Что вас интересует?
    .catalog-top__row
      a(class='catalog-top__item' href="#" style='background-image:url("assets/img/catalog-top-01.jpg")')
        span.catalog-top__text Отдых и развлечения
      a(class='catalog-top__item' href="#" style='background-image:url("assets/img/catalog-top-02.jpg")')
        span.catalog-top__text Обучение в школе сомелье
//end catalog-top