//begin catalog-top
.catalog-top
  .container
    h2.catalog-top__title Что вас интересует?
    .catalog-top__row
      a(class='catalog-top__item' href="#" style='background-image:url("assets/img/catalog-top-03.jpg")')
        span.catalog-top__text Корпоративный отдых
      a(class='catalog-top__item' href="#" style='background-image:url("assets/img/catalog-top-04.jpg")')
        span.catalog-top__text Обучение в школе WSET
//end catalog-top