//begin course-know
.course-know
  .container
    h2.page-title.page-title--dark Вы узнаете
    .course-know__body
      .course-know__left
        ul.course-know__ul
          li расширить свой кругозор, узнать много нового о виноделии и винах
          li получить толковые рекомендации по выбору, хранению и употреблению алкогольных напитков из разных стран, различных типов и ценовых категорий
          li попробовать новые напитки
          li составить собственную карту предпочтений и пополнить список своих любимых напитков
          li приятно провести время в компании увлеченных людей
        p
          |Если друзья разделяют ваш интерес к вину, приходите вместе с друзьями.
          br
          |И уж обязательно возьмите с собой друзей, если они напротив, считают, что вина отличаются только цветом и этикеткой, а так - все одинаковые. На дегустации их ждут удивительные открытия!

      .course-know__right
        img(src="assets/img/course-know.jpg" alt="picture")
//end course-know