//begin course-about
.course-about
  .container
    h2.page-title.page-title--dark О курсе

    .course-about__text
      p Это последняя возможность получить Сертификат, подтверждающий Вашу квалификацию знаний в области вина и крепких напитков (Wine & Spirit) по старой цене и по старым правилам.
      p
        strong
          |Интенсивный курс длится 5 дней (понедельник - пятница), в последний день - экзамен. Язык преподавания - английский.
          br
          |Регистрация на курсы заканчивается 10 января 2017 г.
//end course-about