//begin course-structure
.course-structure
  .container
    h2.page-title.page-title--dark Состав курса
    include ../elements/filter-btns/filter-btns-05
    .course-structure__descr
      span Каждую лекцию-дегустацию в рамках курса школы сомелье можно посетить отдельно

    //begin certificate-slider
  .certificate-slider
    .container
      .certificate-slider__list
        include ../elements/certificates/certificate-13
        include ../elements/certificates/certificate-16
        include ../elements/certificates/certificate-17
        include ../elements/certificates/certificate-18
        include ../elements/certificates/certificate-13
        include ../elements/certificates/certificate-16
        include ../elements/certificates/certificate-17
        include ../elements/certificates/certificate-18
    //end certificate-slider
//end course-structure