//begin course-tab-sec
.course-tab-sec
  .container
    h2.page-title.page-title--dark Часто задаваемые вопросы
    span.course-tab__descr Ниже перечислены ответы на частые вопросы. Если вы не нашли нужную информацию, то задайте вопрос нашему специалисту.

    include ../elements/course-tab

    .course-tab__btn
      a(href="#").btn.btn--yellow задать вопрос

//end course-tab-sec