//begin course-about
.course-about
  .container
    h2.page-title.page-title--dark О мероприятии
    .course-about__text
      p
        strong Попробовать в Португалии неудачное вино практически невозможно. Даже в купленной наугад бутылке вас будет ждать небольшое произведение винодельческого искусства. Наверное, именно поэтому Португалия давно и заслуженно носит титул винной сверхдержавы.
      p Местным виноделам одинаково хорошо удаются красные и белые вина, радуют своим вкусом молодые «зеленые» и выдержанные крепленные, раскрываются щедрыми ароматами сухие и десертные. На нашей дегустации мы познакомимся лишь с несколькими образцами и надеемся, что эта встреча положит начало вашей искренней любви к португальскому вину. Для вас мы приготовили красные вина из Алентежу — большого винодельческого района в центре Португалии и белые вина с севера страны. Сначала мы окунемся в их богатый букет, где ноты экзотических фруктов и весенних цветов белого вина сменятся на богатые и щедрые оттенки спелых ягод, ванили, специй, кожи и кофе красного вина. Затем насладимся свежим, бархатистым, структурным и отлично сбалансированным вкусом представленных вин, причем у каждого будут свои интересные и неожиданные нюансы.
      p А чтобы лучше проникнуться очарованием Португалии, наша дегустация будет сопровождаться интересными рассказами об этой стране и ее винодельческих традициях.
//end course-about