//begin event-testing
.event-testing
  .container
    h2.page-title.page-title--dark Дегустация

  //begin certificate-slider
  .wine-slider
    .container
      .wine-slider__list
        //begin wine-slider__card
        .wine-slider__card
          a(href="#").wine-card
            .wine-card__info
              .wine-card__info-color
                img(src='assets/img/red.png' alt='Цвет')
              .wine-card__info-flag
                img(src='assets/img/prod-card-flag-gr.jpg', alt='Страна')
              .wine-card__info-vol
                span 0,75л
            .wine-card__img
              img(src="assets/img/wine-01.jpg" alt="Вино")
            span.wine-card__type Вино
            h3.wine-card__title Вино Тсантали Кагор Со Святой Горы Афон
        //end wine-slider__card

        //begin wine-slider__card
        .wine-slider__card
          a(href="#").wine-card
            .wine-card__info
              .wine-card__info-color
                img(src='assets/img/pink.png' alt='Цвет')
              .wine-card__info-flag
                img(src='assets/img/prod-card-flag-it.jpg', alt='Страна')
              .wine-card__info-vol
                span 0,75л
            .wine-card__img
              img(src="assets/img/wine-02.jpg" alt="Вино")
            span.wine-card__type Вино
            h3.wine-card__title
              |Каберне Д'анжу
              br
              |Шам Д'уазо
        //end wine-slider__card

        //begin wine-slider__card
        .wine-slider__card
          a(href="#").wine-card
            .wine-card__info
              .wine-card__info-color
                img(src='assets/img/white.png' alt='Цвет')
              .wine-card__info-flag
                img(src='assets/img/prod-card-flag-fr.jpg', alt='Страна')
              .wine-card__info-vol
                span 0,75л
            .wine-card__img
              img(src="assets/img/wine-03.jpg" alt="Вино")
            span.wine-card__type Вино
            h3.wine-card__title
              |Ле Гран Нуар
              br
              |Шардоне
        //end wine-slider__card

        //begin wine-slider__card
        .wine-slider__card
          a(href="#").wine-card
            .wine-card__info
              .wine-card__info-color
                img(src='assets/img/white.png' alt='Цвет')
              .wine-card__info-flag
                img(src='assets/img/prod-card-flag-uar.jpg', alt='Страна')
              .wine-card__info-vol
                span 0,75л
            .wine-card__img
              img(src="assets/img/wine-04.jpg" alt="Вино")
            span.wine-card__type Вино
            h3.wine-card__title
              | Фолс Бэй
              br
              | Вайндсвепт
              br
              | Совиньон Блан
        //end wine-slider__card

        //begin wine-slider__card
        .wine-slider__card
          a(href="#").wine-card
            .wine-card__info
              .wine-card__info-color
                img(src='assets/img/red.png' alt='Цвет')
              .wine-card__info-flag
                img(src='assets/img/prod-card-flag-gr.jpg', alt='Страна')
              .wine-card__info-vol
                span 0,75л
            .wine-card__img
              img(src="assets/img/wine-01.jpg" alt="Вино")
            span.wine-card__type Вино
            h3.wine-card__title Вино Тсантали Кагор Со Святой Горы Афон
        //end wine-slider__card

        //begin wine-slider__card
        .wine-slider__card
          a(href="#").wine-card
            .wine-card__info
              .wine-card__info-color
                img(src='assets/img/pink.png' alt='Цвет')
              .wine-card__info-flag
                img(src='assets/img/prod-card-flag-it.jpg', alt='Страна')
              .wine-card__info-vol
                span 0,75л
            .wine-card__img
              img(src="assets/img/wine-02.jpg" alt="Вино")
            span.wine-card__type Вино
            h3.wine-card__title
              |Каберне Д'анжу
              br
              |Шам Д'уазо
        //end wine-slider__card

        //begin wine-slider__card
        .wine-slider__card
          a(href="#").wine-card
            .wine-card__info
              .wine-card__info-color
                img(src='assets/img/white.png' alt='Цвет')
              .wine-card__info-flag
                img(src='assets/img/prod-card-flag-fr.jpg', alt='Страна')
              .wine-card__info-vol
                span 0,75л
            .wine-card__img
              img(src="assets/img/wine-03.jpg" alt="Вино")
            span.wine-card__type Вино
            h3.wine-card__title
              |Ле Гран Нуар
              br
              |Шардоне
        //end wine-slider__card

        //begin wine-slider__card
        .wine-slider__card
          a(href="#").wine-card
            .wine-card__info
              .wine-card__info-color
                img(src='assets/img/white.png' alt='Цвет')
              .wine-card__info-flag
                img(src='assets/img/prod-card-flag-uar.jpg', alt='Страна')
              .wine-card__info-vol
                span 0,75л
            .wine-card__img
              img(src="assets/img/wine-04.jpg" alt="Вино")
            span.wine-card__type Вино
            h3.wine-card__title
              | Фолс Бэй
              br
              | Вайндсвепт
              br
              | Совиньон Блан
        //end wine-slider__card

  //end certificate-slider

  .container
    //begin event-testing__banners
    .event-testing__banners
      //begin event-testing__banner
      .event-testing__banner
        .event-testing__banner-sale
          span -20%
        .event-testing__banner-text(style='background-image:url("assets/img/event-testing-banner-01.jpg")')
          span на покупку дегустационных образцов
      //end event-testing__banner

      //begin event-testing__banner
      .event-testing__banner
        .event-testing__banner-sale
          span -10%
        .event-testing__banner-text(style='background-image:url("assets/img/event-testing-banner-02.jpg")')
          span на любую покупку в винном бутике
      //end event-testing__banner
    //end event-testing__banners

//end event-testing
