//begin header
header.header
  include ../elements/header/header-logo
  include ../elements/header/header-desktop-menu
  //include ../elements/header/header-menu
  include ../elements/header/header-search

  include ../elements/header/header-contacts
  include ../elements/header/header-user
  include ../elements/header/header-basket
//end header