//begin index-top
.index-top
  .container
    h1.index-top__title Академия вина
    span.index-top__subtitle все о винной культуре

    //begin index-top__search
    .index-top__search.index-search
      form.index-search__form
        .index-search__form-item
          select.index-search__select.select-ui.odinokun-list
            option.odinokun-option Для кого?
            option.odinokun-option Для кого 1
            option.odinokun-option Для кого 2
        .index-search__form-item
          select.index-search__select.select-ui
            option Что вас интересует?
            option Что вас интересует 1
            option Что вас интересует 2
        .index-search__form-item
          select.index-search__select.select-ui
            option Выберите раздел
            option Выберите раздел 1
            option Выберите раздел 2
        .index-search__form-item.index-search__form-item--submit
          input(type='submit' value='поиск').index-search__submit.btn.btn--yellow
    //end index-top__search

    //begin index-top__links
    .index-top__links
      a(href="#").index-top__link Дегустации вина
      a(href="#").index-top__link Эногастрономические ужины
      a(href="#").index-top__link Хочу стать сомелье
      a(href="#").index-top__link Корпоративное обучение
      a(href="#").index-top__link Винные туры в Италию
      a(href="#").index-top__link Винные туры в Испанию
    //end index-top__links
//end index-top