//begin index-about
.index-about
  .container
    h2.page-title.page-title--dark Академия вина

    .index-about__text
      p Винная академия - сообщество, в котором все желающие могут приобщиться к миру винодельческих традиций разных стран. Вы можете обмениваться сообщениями и делиться фотографиями, следить за новостями Ваших друзей и групп сообщества единомышленников.
      p Образовательная площадка «Академии вина» позволяет получить обширные знания о винах и виноделии как профессионалам, так и всем лицам, интересующимся этой сферой.
      p Винная академия - сообщество, в котором все желающие могут приобщиться к миру винодельческих традиций разных стран.
      p Вы можете обмениваться сообщениями и делиться фотографиями, следить за новостями Ваших друзей и групп сообщества единомышленников. Образовательная площадка «Академии вина» позволяет получить обширные знания о винах и виноделии как профессионалам, так и всем лицам, интересующимся этой сферой.

    .certificate-slider__all-link
      a(href="#")
        span подробнее
        +svg('arrow')
//end index-about