//begin index-events
.index-events
  //begin certificate-slider
  .certificate-slider
    .container
      .certificate-slider__list
        include ../elements/certificates/certificate-09
        include ../elements/certificates/certificate-10
        include ../elements/certificates/certificate-11
        include ../elements/certificates/certificate-12
        include ../elements/certificates/certificate-10
        include ../elements/certificates/certificate-11
  //end certificate-slider
//end index-events