//begin course-postrelise
.course-postrelise
  .container
    h2.page-title.page-title--dark Мой блог

    include ../elements/article-slider

    .certificate-slider__all-link
      a(href="#")
        span все статьи
        +svg('arrow')
//end course-postrelise