//begin wset-about
.wset-about
  .container
    h2.page-title.page-title--dark О школе

  //begin wset-about__ru
  .wset-about__ru
    .container
      h3.wset-about__ru-title WSET в России
      .wset-about__ru-text
        p
          strong  Аккредитованной школой-провайдером WSET® на территории России является «Академия Вина».
        p  В рамках своей Международной программы сотрудничает с Центрами Преподавания Программ по всему миру, и по возможности создает условия для того, чтобы квалификации WSET были доступными и на других языках, кроме английского.
  //end wset-about__ru

  //begin wset-about__world
  .wset-about__world
    .container
      h3.wset-about__world-title WSET в мире
      .wset-about__world-text
        p
          strong Что такое WSET?
          =' '
          |Переводится примерно как «Фонд образования в области вин и крепких алкогольных напитков».
        p
          | Разумеется, одна школа не могла обеспечить обучение такого потока учащихся, который был бы необходим для по-настоящему широкого распространения стандартов WSET.
          =' '
          strong Поэтому была создана система аккредитованных преподавателей WSET и школ-провайдеров,
          =' '
          | которые, при условии соответствия строгим стандартам центральной Лондонской школы и прохождения процедур аккредитации, получали право проведения курсов по квалификациям WSET вне Лондона (и, впоследствии, вне Великобритании и Европы вообще).
        p
          |На сегодняшний день, школы-провайдеры существуют
          =' '
          strong более чем в пятидесяти странах мира,
          =' '
          |программы WSET официально
          =' '
          strong переведены на 15 языков,
          =' '
          |и уже можно уверенно говорить о признании WSET ведущим мировым образовательным проектом в алкогольной сфере. При этом важно отметить тот момент, что лицензии аккредитованных провайдеров обновляются ежегодно, экзаменационные бланки присылаются напрямую из Лондонского офиса, и проверка экзаменационных работ производится там же — то есть,
          =' '
          strong центральная школа WSET по-прежнему оставляет право контроля стандартов обучения и выставления оценок исключительно за собой.
  //end wset-about__world

  //begin wset-about__all
  .wset-about__all
    .container
      .wset-about__all-left
        h3.wset-about__all-title Винная школа WSET
        p Организация The Wine & Spirit Education Trust обладает более чем 40-летним опытом в сфере разработки и предоставления образовательных программ и присвоения квалификаций в области знаний о винах и крепких алкогольных напитках. За это время она стала крупнейшим в мире образовательным учреждением в этой области, выпускающим в 62 странах более 56 000 специалистов в год.
        p Курсы и квалификации WSET® охватывают 5 разных уровней овладения учащимися знаниями и навыками: от абсолютного новичка до эксперта. Квалификационные программы включают изучение вин и крепких алкогольных напитков, а также развитие дегустационных навыков, что делает их востребованными, как для тех, кому эти знания и навыки необходимы для работы, так и для тех, кто питает к вину живой интерес.
      .wset-about__all-right
        img(src="assets/img/wset-about-all.jpg" alt="picture")
  //end wset-about__all



//end wset-about