//begin wset-top
.wset-top(style='background-image: url("assets/img/bg/bg-wset-top.jpg")')
  .container
    include ../elements/breadcrumbs--light

    h1.page-title.page-title--light Британская винная школа WSET
    span.wset-top__subtitle Аккредитованной школой-провайдером WSET® на территории России является «Академия Вина»
    .wset-top__logo
      img(src="assets/img/wset-logo.png" alt="WSET")
    .wset-top__descr
      span В рамках своей Международной программы сотрудничает с Центрами Преподавания Программ по всему миру, и по возможности создает условия для того, чтобы квалификации WSET были доступными и на других языках, кроме английского
    .wset-top__btns
      a(href="#").btn.btn--yellow ближайшие курсы
      a(href="#").btn.btn--white-2 получить консультацию
//end wset-top