//begin wset-items
.wset-items
  .container
    .wset-items__item
      span.wset-items__item-numb 10
      span.wset-items__item-text преподавателей
    .wset-items__item
      span.wset-items__item-numb 300
      span.wset-items__item-text выпускников
    .wset-items__item
      span.wset-items__item-numb 10
      span.wset-items__item-text лет
//end wset-items