//begin wset-know
.wset-know
  .container
    h2.page-title.page-title--dark Вы научитесь
    .wset-know__tabs

      include ../elements/filter-btns/filter-btns-06

      //begin wset-know__tab--01
      .wset-know__tab.wset-know__tab--01.active
        .wset-know__body
          .wset-know__left
            ul.wset-know__ul
              li расширить свой кругозор, узнать много нового о виноделии и винах
              li получить толковые рекомендации по выбору, хранению и употреблению алкогольных напитков из разных стран, различных типов и ценовых категорий
              li попробовать новые напитки
              li составить собственную карту предпочтений и пополнить список своих любимых напитков
              li приятно провести время в компании увлеченных людей
            p
              |Если друзья разделяют ваш интерес к вину, приходите вместе с друзьями.
              br
              |И уж обязательно возьмите с собой друзей, если они напротив, считают, что вина отличаются только цветом и этикеткой, а так - все одинаковые. На дегустации их ждут удивительные открытия!

          .wset-know__right
            img(src="assets/img/wset-know.jpg" alt="picture")
      //end wset-know__tab--01

      //begin wset-know__tab--02
      .wset-know__tab.wset-know__tab--02
        .wset-know__body
          .wset-know__left
            ul.wset-know__ul
              li 2 - расширить свой кругозор, узнать много нового о виноделии и винах
              li получить толковые рекомендации по выбору, хранению и употреблению алкогольных напитков из разных стран, различных типов и ценовых категорий
              li попробовать новые напитки
              li составить собственную карту предпочтений и пополнить список своих любимых напитков
              li приятно провести время в компании увлеченных людей
            p
              |Если друзья разделяют ваш интерес к вину, приходите вместе с друзьями.
              br
              |И уж обязательно возьмите с собой друзей, если они напротив, считают, что вина отличаются только цветом и этикеткой, а так - все одинаковые. На дегустации их ждут удивительные открытия!

          .wset-know__right
            img(src="assets/img/wset-know.jpg" alt="picture")
      //end wset-know__tab--02

      //begin wset-know__tab--03
      .wset-know__tab.wset-know__tab--03
        .wset-know__body
          .wset-know__left
            ul.wset-know__ul
              li 3 - расширить свой кругозор, узнать много нового о виноделии и винах
              li получить толковые рекомендации по выбору, хранению и употреблению алкогольных напитков из разных стран, различных типов и ценовых категорий
              li попробовать новые напитки
              li составить собственную карту предпочтений и пополнить список своих любимых напитков
              li приятно провести время в компании увлеченных людей
            p
              |Если друзья разделяют ваш интерес к вину, приходите вместе с друзьями.
              br
              |И уж обязательно возьмите с собой друзей, если они напротив, считают, что вина отличаются только цветом и этикеткой, а так - все одинаковые. На дегустации их ждут удивительные открытия!

          .wset-know__right
            img(src="assets/img/wset-know.jpg" alt="picture")
      //end wset-know__tab--03
//end wset-know
