//begin banner
.banner(style='background-image:url("assets/img/banner-03.jpg")')
  h3.banner__title Акция!
  span.banner__descr бесплатная дегустация нового вина
  a(href="#").btn.btn--yellow хочу!
//end banner
