//begin breadcrumbs
.breadcrumbs.breadcrumbs--light
  ul.breadcrumbs__list
    li.breadcrumbs__item
      a.breadcrumbs__link(href="#") Главная
    li.breadcrumbs__item
      a.breadcrumbs__link(href="#") Раздел
    li.breadcrumbs__item
      a.breadcrumbs__link(href="#") Подраздел
    li.breadcrumbs__item
      a.breadcrumbs__link(href="#") Текущая страница
//end breadcrumbs