//begin course-tab
.course-tab
  .course-tab__row.active
    .course-tab__question
      .course-tab__question-btn
      span Зачем нужна регистрация?
    .course-tab__answer(style='display:block')
      span К сожалению, количество мест ограничено, поэтому, если вы желаете участвовать в дегустации, необходимо заранее заявлять о своём намерении, иначе наличие свободных мест не гарантируется! Регистрация заканчивается за сутки до проведения мероприятия, в случае более поздней регистрации обязательно подтверждение по телефону +7 (812) 677-66-68, при отсутствии возможности регистрации претензии не принимаются.
  .course-tab__row
    .course-tab__question
      .course-tab__question-btn
      span Расcкажите про дегустационные образцы?
    .course-tab__answer
      span К сожалению, количество мест ограничено, поэтому, если вы желаете участвовать в дегустации, необходимо заранее заявлять о своём намерении, иначе наличие свободных мест не гарантируется! Регистрация заканчивается за сутки до проведения мероприятия, в случае более поздней регистрации обязательно подтверждение по телефону +7 (812) 677-66-68, при отсутствии возможности регистрации претензии не принимаются.
  .course-tab__row
    .course-tab__question
      .course-tab__question-btn
      span Какие есть ограничения по возрасту?
    .course-tab__answer
      span К сожалению, количество мест ограничено, поэтому, если вы желаете участвовать в дегустации, необходимо заранее заявлять о своём намерении, иначе наличие свободных мест не гарантируется! Регистрация заканчивается за сутки до проведения мероприятия, в случае более поздней регистрации обязательно подтверждение по телефону +7 (812) 677-66-68, при отсутствии возможности регистрации претензии не принимаются.
//end course-tab