//begin lk-aside
.lk-aside
  //begin lk-aside__user
  .lk-aside__user
    .lk-aside__user-ava
      img(src="assets/img/lk-ava.jpg" alt="picture")
    .lk-aside__user-name
      span Fantomas
  //end lk-aside__user
  //begin lk-aside__menu
  .lk-aside__menu
    ul.lk-aside__menu-list
      li.lk-aside__menu-item.active История заказов
      li.lk-aside__menu-item Мой профиль
      li.lk-aside__menu-item Отзывы
  //end lk-aside__menu

  //begin lk-aside__exit
  .lk-aside__exit
    a(href="#").lk-aside__exit-btn
      +svg('exit')
      span Выйти
  //end lk-aside__exit
//end lk-aside