//begin pagination
.pagination
  ul.pagination__list
    li.pagination__item.pagination-arr__left
      a.pagination__link(href='#')
        svg
          use(xlink:href="assets/img/sprite.svg#nav-arr-left")
    li.pagination__item
      a.pagination__link(href='#') 1
    li.pagination__item
      a.pagination__link(href='#') 2
    li.pagination__item.active
      a.pagination__link(href='#') 3
    li.pagination__item
      a.pagination__link(href='#') 4
    li.pagination__item
      a.pagination__link(href='#') 5
    li.pagination__item.pagination-arr__right
      a.pagination__link(href='#')
        svg
          use(xlink:href="assets/img/sprite.svg#nav-arr-right")
//end pagination