//begin header__search
.header__search.header-search
  form.header-search__form
    .header-search__input-wrap
      input(type='search' placeholder='Поиск').header-search__input
      span.header-search__submit-wrap
        +svg('magnifier')
        input(type='submit').header-search__submit
//end header__search