//begin header__logo
.header__logo.header-logo
  a(href="/").header__logo-icon.header__logo-icon--lg
    img(src="assets/img/logo-lg.png" alt="logo")
  a(href="/").header__logo-icon.header__logo-icon--sm
    img(src="assets/img/logo-sm.png" alt="logo")
//end header__logo