extends ../_template

block variables
  - var title       = 'Академия вина'
  - var description = 'Все о винной культуре'
  - var ogtitle     = 'Академия вина'
  - var pageTitle   = 'Утренний курс школы'

block content
  .main-wrap.no-js
    include ../sections/header--login

    //begin content
    main.main.course
      include ../sections/course-top
      include ../sections/course-about
      include ../sections/course-know
      include ../sections/course-structure
      include ../sections/teachers-slider
      include ../sections/course-certificate
      include ../sections/course-reviews
      include ../sections/course-postrelise
      include ../sections/course-tab-sec
    //end content

    include ../sections/mailing
    include ../sections/footer
    include ../sections/scripts
