extends ../_template

block variables
  - var title       = 'Академия вина'
  - var description = 'Все о винной культуре'
  - var ogtitle     = 'Академия вина'

block content
  .main-wrap.no-js
    include ../sections/header-index--login

    //begin content
    main.main.index
      include ../sections/index-top
      include ../sections/index-events
      include ../sections/index-banners
      include ../sections/index-about
      include ../sections/index-info

    //end content
    include ../sections/mailing
    include ../sections/footer
    include ../sections/scripts
    script.
      $(window).on('load resize scroll', function () {
        let header = $('.header');
        let winScrollTop = $(this).scrollTop();
        if (winScrollTop > 5) {
          header.removeClass('header--index');
        } else {
          header.addClass('header--index');
        }
      });

