//begin certificate
.certificate.certificate--violet
  a(href="#" class='certificate__img' style='background-image:url("assets/img/certificate-02.jpg");')
    .certificate__view
      +svg('grape')
      span Школа WSET

  .certificate__label
    span Обучение: блок лекций
  a(href="#").certificate__title Сертификат на посещение эногастрономического ужина

  .certificate__footer
    .certificate__price
      .certificate__old-price
        |15000
        =' '
        span a
      .certificate__new-price
        |13000
        =' '
        span c

    .certificate__pay
      a(href="#").btn.btn--yellow купить
//end certificate
