//begin certificate
.certificate.certificate--blue
  a(href="#" class='certificate__img' style='background-image:url("assets/img/certificate-04.jpg");')
    .certificate__view
      +svg('grape')
      span Профессия: Сомелье

    .certificate__rait
      .certificate__rait-stars.rait-stars.rait-stars--white.rait-stars--04
        +rait-star
        +rait-star
        +rait-star
        +rait-star
        +rait-star
      .certificate__rait-numb
        span 170

  .certificate__date
    +svg('calendar')
    span 12 декабря в 19:00

  .certificate__label
    span Обучение: курс

  a(href="#").certificate__title Утренний курс школы сомелье Академия Вина

  .certificate__footer
    .certificate__price
      .certificate__new-price
        |55000
        =' '
        span c

    .certificate__pay
      a(href="#").btn.btn--yellow купить билет

  a(href="#" target="_blank" rel="noreferrer").certificate__adress
    +svg('marker')
    span СПб, пр. Добролюбова, д. 3

  .certificate__hashtags
    a(href="#").certificate__hashtag #Красное вино
    a(href="#").certificate__hashtag #Франция
    a(href="#").certificate__hashtag #Божеле

//end certificate
