//begin certificate
.certificate.certificate--blue
  a(href="#" class='certificate__img' style='background-image:url("assets/img/certificate-01.jpg");')
    .certificate__view
      +svg('grape')
      span Школа сомелье

  .certificate__label
    span Обучение: курс
  a(href="#").certificate__title Сертификат на посещение эногастрономического ужина

  .certificate__footer
    .certificate__price
      .certificate__new-price
        |55000
        =' '
        span c

    .certificate__pay
      a(href="#").btn.btn--yellow купить

//end certificate
