//begin certificate-one
.certificate-one.certificate-one--blue
  a(href="#" class='certificate-one__link')
  div(class='certificate-one__img' style='background-image:url("assets/img/certificate-one.jpg");')
    .certificate-one__view
      +svg('grape')
      span Школа WSET

  .certificate-one__info
    .certificate-one__header
      .certificate-one__label
        span Обучение: курс
      .certificate-one__id
        span № цф020667

    .certificate-one__body
      .certificate-one__body-left
        h3.certificate-one__title Оплата учебной программы WSET intermediate (WSET Level 2). Уровень второй. Вина и Крепкие спиртные напитки WSET Level 2.
        .certificate-one__text
          p Вторая ступень - В рамках профессиональной подготовки курс может быть интересен менеджерам виноторговых компаний, продавцам винных бутиков, заведующим алкогольными секциями, администраторам и сомелье ресторанов, F&B менеджерам и их помощникам.

      .certificate-one__body-right
        .certificate-one__price
          .certificate-one__old-price
            | 75000
            =' '
            span a
          .certificate-one__new-price
            | 55000
            =' '
            span c

        .certificate-one__pay
          a(href="#").btn.btn--yellow купить
//end certificate-one