//begin certificate
.certificate.certificate--red.certificate--sale
  a(href="#" class='certificate__img' style='background-image:url("assets/img/certificate-03.jpg");')

  .certificate__label
    span Дегустация

  a(href="#").certificate__title Сертификат на посещение эногастрономического ужина

  .certificate__footer
    .certificate__price
      .certificate__new-price
        |1300
        =' '
        span c
    .certificate__pay
      a(href="#").btn.btn--yellow купить
//end certificate
