//begin sale-card
a(href="#").sale-card
  .sale-card__img(style='background-image:url("assets/img/sales-02.jpg");')

  .sale-card__date
    +svg('calendar')
    span с 12 декабря 2018 по 31 января 2019

  h3.sale-card__title Месяц безумных скидок на обучение в школе сомелье
//end sale-card