//begin sale-card
a(href="#").sale-card
  .sale-card__img(style='background-image:url("assets/img/sales-03.jpg");')

  .sale-card__date.sale-card__date--counter#counter
    +svg('stopwatch')
    //begin counter
    span#counter__days 00
    span дней
    span#counter__hours 00
    span часов
    span#counter__minutes 00
    span мин
    span#counter__seconds 00
    span сек
    //end counter

  h3.sale-card__title Месяц безумных скидок на обучение в школе сомелье
//end sale-card