//begin filter-btns
.filter-btns
  a(href="#" data-filter='all').filter-btn.active Все
  a(href="#" data-filter='01').filter-btn для себя
  a(href="#" data-filter='02').filter-btn для бизнеса
//end filter-btns
