//begin filter-btns
.filter-btns
  a(href="#" data-tab='01').filter-btn.active WSET level 1
  a(href="#" data-tab='02').filter-btn WSET level 2
  a(href="#" data-tab='03').filter-btn WSET level 3
//end filter-btns
