//begin filter-btns
.filter-btns
  a(href="#" data-filter='all').filter-btn.active Все
  a(href="#" data-filter='01').filter-btn Школа сомелье
  a(href="#" data-filter='02').filter-btn Школа WSET
  a(href="#" data-filter='03').filter-btn Отдых и развлечения
//end filter-btns
