//begin filter-btns
.filter-btns
  a(href="#" data-filter='all').filter-btn.active Все
  a(href="#" data-filter='01').filter-btn Горящие предложения
  a(href="#" data-filter='02').filter-btn Обучение
  a(href="#" data-filter='03').filter-btn Отдых и развлечения
  a(href="#" data-filter='03').filter-btn Для себя
  a(href="#" data-filter='03').filter-btn Для бизнеса
//end filter-btns
