.contacts-cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 60px;
  padding-top: 30px;

  @include max(1023) {
    //    padding-top: 10px;
  }
}

.contacts-cards__left,
.contacts-cards__right {
  display: flex;
  flex-direction: column;
  width: calc(50% - 15px);

  @include max(1023) {
    width: 100%;
  }
}

.contacts-cards__bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.contacts-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(33.33% - 20px);
  margin-bottom: 30px;
  padding: 30px;
  text-align: center;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;

  @include max(1023) {
    width: 100%;
  }
}

.contacts-card--simple {
  width: 100%;
  min-height: 250px;
  .contacts-card__title {
    color: #1e1e1e;
  }
  .contacts-card__phone {
    svg {
      fill: $brand;
    }
    a {
      color: #1e1e1e;
    }
  }
  .contacts-card__schedule {
    color: #969696;
  }
}

.contacts-card--lg {
  justify-content: flex-end;
  width: 100%;
  height: 100%;

  @include max(1023) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  &::before {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 70px;
    height: 70px;
    content: '';
    background-image: url('../img/label-best.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: contain;

    @include max(680) {
      top: 15px;
      right: 15px;
      width: 60px;
      height: 60px;
    }
  }

  .contacts-card__subtitle {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
    letter-spacing: 4px;

    @include max(1023) {
      font-size: 16px;
    }
    @include max(425) {
      font-size: 14px;
    }
  }
  .contacts-card__title {
    font-size: 50px;
    line-height: 1;
    margin-bottom: 90px;

    @include max(1100) {
      font-size: 47px;
    }
    @include max(1023) {
      font-size: 35px;
      margin-bottom: 15px;
    }
    @include max(425) {
      font-size: 28px;
    }
  }
}

.contacts-card__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  margin: auto;
}

.contacts-card__subtitle {
  font-family: $opensans;
  font-size: 10px;
  font-weight: 400;
  margin-bottom: 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}

.contacts-card__title {
  font-family: $opensans;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #fff;

  @include max(1023) {
    font-size: 20px;
  }
}

.contacts-card__phone {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  pointer-events: none;
  svg {
    fill: #fff;
    width: 13px;
    height: 13px;
    margin-bottom: 15px;
  }
  a {
    font-family: $roboto;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    pointer-events: auto;
    color: #fff;

    @include max(1023) {
      font-size: 16px;
    }

    b {
      font-weight: 500;
    }
  }
}

.contacts-card__schedule {
  font-family: $opensans;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: block;
  margin-bottom: 10px;
  color: #fff;
}

.contacts-card__adress {
  display: flex;
  margin-top: 15px;
  text-align: left;
  color: #c8c8c8;
  svg {
    flex: none;
    fill: #c8c8c8;
    width: 12px;
    height: 16px;
    margin-right: 10px;
  }
  span {
    font-family: $opensans;
    font-size: 12px;
    font-weight: 400;
    line-height: 23px;
    color: #c8c8c8;
  }
}
